<!--
  OpenSSL FIPS Installer - Folder Definitions
  
  Copyright (c) 2026 Matthew Kempe @fsbruva
  SPDX-License-Identifier: Apache-2.0
  
  Repository: https://github.com/fsbruva/openssl-fips-windows-installer
-->

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="OpenSSL" >
		<Directory Id="DocsFolder" Name="docs">
		</Directory>
		<Directory Id="LibFolder" Name="lib" >
		  <Directory Id="OSSLModulesFolder" Name="ossl-modules" />
		</Directory>
	  </Directory>
    </StandardDirectory>

	<StandardDirectory Id="ProgramMenuFolder">
	  <Directory Id="ProgramMenuDir" Name="OpenSSL FIPS"/>
	</StandardDirectory>
  </Fragment>
</Wix>
